apipkg==1.5
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cycler==0.10.0
demjson==2.2.4
docopt==0.6.2
execnet==1.8.0
idna==2.10
iniconfig==1.1.1
kiwisolver==1.3.1
matplotlib==3.3.4
mock==4.0.3
nose==1.3.7
numpy==1.20.1
opencv-contrib-python==4.5.1.48
packaging==20.9
pandas==1.2.2
path==15.1.2
path.py==12.5.0
Pillow==8.2.0
pipreqs==0.4.10
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-shutil==1.7.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.5
xlrd==2.0.1
xmltodict==0.12.0
yarg==0.1.9
